extend layout

block navigation
    .noClick
        +masthead()
    +navigation(true, "about")

block content
    +backgroundMenuFade()
    .container.about
        h1(style="text-align:center") Hello!
        h2 I'm Marc and I like making things.

        p Despite how elementary that sentence is, it’s accurate. Ever since I was young I’ve enjoyed creating; shooting and editing videos, coding websites, and illustrating graphics for print and web.

        p I grew up in Menomonee Falls, Wisconsin where I lived on a strict diet of cheese and beer. In my teenage years, I found a passion in editing films and went so far as to film a 3 hour live local event with a multi-cam set up. I edited and mastered the DVD on my own; not recommended if you have a social life, which I didn’t, so it was fine. Throughout this process, I decided I could be perfectly content shooting and editing videos for the rest of my life.

        p In 2007 I moved to Chicago and attended DePaul University where I finished with a Bachelor of Science in Digital Cinema. On graduation day I realized I had no interest in pursuing a career in film and tossed my college degree aside. Fortunately, I still had my student loans. Did I say ‘fortunately’?

        p Soon after college, I joined a startup called <a href="/sqipp">Sqipp</a> (pronounced ‘skip’) which was my introduction to startup culture. I was able to use web development and graphic design skills I had taught myself throught high school and college. At <a href="/sqipp">Sqipp</a>, I learned valuable skills such as designing for mobile devices, basic coding, and the general inner workings of business and how failures are essential to learning and growing.

        p Next, I worked as a front end web developer and designer for <a href="/mu-optics">Mu Optics</a>. Additionally I worked on multiple freelance projects here and there providing UX/UI for iOS apps and web development for various budding services. A couple years later I joined Homefinder.com and worked on two of their spin-off products; <a href="/moving-company-reviews">MovingCompanyReviews</a> and <a href="/open-home-pro">Open Home Pro</a>. There I learned the processes of an established company and became accustomed to managing projects and creating deliverables with deadlines.  Eventually Homefinder.com was acquired by Placester, a Boston based company, and now I work soley on the Open Home Pro project where I’ve been able to flex my design skills and continue to grow in my ability to discover and learn about all things programming.

        p That's all folks!

        p Oh, I also enjoy taking <a href="/photography">pictures</a>.