extend layout

block content
    //- .comingsoon-overlay
    //-     h1 New site coming very soon!
    +backgroundMenuFade()
    .container.fade
    .project-list
        +listProjects()

block navigation
  +navigation(false, "home")

block masthead
  +masthead()
