extend layout_alt

block title
    - var title = "Photography | Marc Deely"
    - var desc = "Various photos shot and edited by Marc Deely"

block navigation
    +photography_navigation()

block masthead
    +photography_masthead()

block content
    .container.photography
