extend layout

block title
    - var title = "Photography | Marc Deely"
    - var desc = "Various photos shot and edited by Marc Deely"

block navigation
    +navigation(true, 'photography')

block masthead
    +masthead(true, photography)

block content
    +backgroundMenuFade(photography.theme)
    .container.photography
        .fullscreen-image
            .previous
            .next
        .project-title(style='color:'+photography.theme)
            h1 #{photography.title}
            p #{photography.subtitle}
        +imageCollection(photography)
