extend layout_alt

block title


block navigation
    +photography_navigation()

block masthead
    +photography_masthead()

block content
    +facebookSDK()
    .container.photography

    .action-wrapper
        //- .action.image-title
        //-     span FileName
        div(id="fb-like-icon" class="action")
        .action.bg-photo-display.fill-screen
    .preload-image-container