extend layout

block navigation
    +masthead(true, projects[projectName] )
    +navigation(true)

block content
    +backgroundMenuFade(projects[projectName].theme)
    .container
        .fullscreen-image
            .previous
            .next
        .project-title(style='color:'+projects[projectName].theme)
            h1 #{projects[projectName].title}
            p #{projects[projectName].subtitle}
        +imageCollection(projects[projectName])
