@import 'nib';

// Nib provides a CSS reset
global-reset()

// Button Reset
button {
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    outline: 0;
    background-color: transparent;
}

img {
    max-width: 100%;
}

// Mixins
aspectRatio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > .item-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

navItemStyles() {
    background-color: white;
    box-shadow: $boxShadow;
    border-radius: 5px;
}

// Animations

@keyframes hover {
    0%   { transform: translate(0px,0px); }
    20%  { transform: translate(-1px,6px); }
    40%  { transform: translate(1px,-5px); }
    60%  { transform: translate(1px,4px); }
    80%  { transform: translate(-2px,-5px); }
    100% { transform: translate(0px,0px); }
}

@keyframes appear {
    0%   { opacity: 1; display: block; }
    100% { opacity: 0; display: none;  }
}

// Variables

$blue   = #92C3FF;
$black  = #333;
$red    = #FFD0D0;

$photography_color = white;

$backgroundColor     = #F9F9F9;
$backgroundDark      = #232323;
$triggerSpacing      = 42px;
$triggerSpacingSixth = ($triggerSpacing/6)
$triggerLineHeight   = 3px;
$triggerColor        = $blue;

$menuWidth = 320px;

$boxShadow = 0 1px 2px rgba(0,0,0,.15);

$zIndexMax = 9999;

$padding-size = 10px;
$nav_height = 70px;
$album_menu_width = 320px;

html {
    font-family: 'Lato';
    background-color: $backgroundColor;

    * {
        box-sizing: border-box;
    }
}

body {
    font-family: 'Lato';
    background-color: $backgroundColor;
    color: $black;
    line-height: 1.5;

    &.no-scroll {
        overflow: hidden;
        height: 100%;
    }
}

.comingsoon-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.82);
    z-index: 99999999;
    pointer-events: all;
    color: white;
    padding: 15% 20%;
    text-align: center;
}

// Clearfix

.cf {
    clearfix()
}

hr {
    border-top: 0px solid transparent;
    // border-color: #f2f2f2;
    border-color: alpha(white, .15);
}

h1 {
    font-size: 44px;
    text-transform: capitalize;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

p  {
    font-size: 16px;
    line-height: 1.5em;
    padding: 0 20px;
}

a {
    color: darken($blue, 15%);
    text-decoration: none;
}

.nav-item {
    position: fixed;
    top: 14px;
    right: 14px;
    z-index: zIndexMax;
    transition: top .5s ease-in-out, right .5s ease-in-out;
    transition-delay: .6s;
    navItemStyles();
    background-color: $backgroundColor;
    box-shadow: none;

    &.back,
    .menu-trigger {
        height: $triggerSpacing;
        width: $triggerSpacing;
        padding: 20px 10px;
    }

    &.back {
        left: 14px;
        width: $triggerSpacing;
        height: $triggerSpacing;
        z-index: zIndexMax - 2;

        span {
            background-color: transparent;
            width: 16px;

            &:before{
                left: 1px;
                top: 4px;
                transform: rotate(35deg);
            }

            &:after {
                left: 1px;
                top: -4px;
                transform: rotate(-35deg);
            }
        }
    }


    .menu-trigger {
        z-index: zIndexMax + 1;
        position: relative;
        transition: box-shadow .15s ease-in-out;
        navItemStyles();
        background-color: transparent;
        box-shadow: none;
    }

    span {
        background-color: $triggerColor;
        width: 100%;
        height: $triggerLineHeight;
        display: block;
        position: relative;
        border-radius: $triggerLineHeight*2;
        z-index: inherit;
        transition: all .25s ease-in-out;
        pointer-events: none;

        &:after,
        &:before {
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            width: inherit;
            height: $triggerLineHeight;
            background-color: inherit;
            border-radius: 5px;
            background-color: $triggerColor;
            transition: all .25s ease-in-out;
        }

        &:before, {
            top: 10px;
        }
    }

    &:active {
        transform: translate(0,1px);
    }
}

.fullscreen-image {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-attachment: scroll;
    background-size: cover;
    z-index: zIndexMax + 2;
    overflow: scroll;
    text-align: center;
    background-color: #131313;
    padding: 20px;
    cursor: -webkit-zoom-out;
    color: #888;

    img {
        pointer-events: none;
        box-shadow: 0 2px 4px rgba(black, .5);
        border-radius: 3px;
        background-color: $backgroundColor;
    }

    p {
        font-weight: 200;
        margin: 32px auto;
        max-width: 550px;
    }
}

.menu {
    .menu-trigger.triggered {
        box-shadow: none;

        span {
            background-color: transparent;

            &:before,
            &:after {
                transition: all .25s ease-in-out;
                top: 0px;
            }

            &:before {
                transform: rotate(-45deg);
            }

            &:after{
                transform: rotate(45deg);
            }
        }
    }
}

ul.menu-container {
    position: absolute;
    width: $menuWidth;
    height: auto;
    top: 0;
    right: 0;
    border-radius: 4px;
    background-color: darken($blue, 30%);
    background-color: white;
    box-shadow: inherit;
    opacity: 0;
    text-align: left;
    font-size: 16px;
    color: #333;
    overflow: hidden;
    transition: all .2s ease-in-out;
    transform-origin: 100% 0;
    transform: scale(0, 0);

    &.open {
        box-shadow: $boxShadow;
        opacity: 1;
        padding: 20px 20px 0 20px;
        transition: all .25s ease-in-out;
        transform: initial;

        li {
            opacity: 1;
            transition: all .25s ease-in-out;
            transition-delay: .15s;
            transform: initial;

            &:nth-child(2) { transition-delay: .25s; };
            &:nth-child(3) { transition-delay: .35s; };
            &:nth-child(4) { transition-delay: .45s; };

            a {
                cursor: pointer;
            }
        }
    }

    li {
        opacity: 0;
        transform: translate(10px, 0);
        transition: all .25s ease-in-out;
        // transition-delay: .2s;

        a {
            color: inherit;
            text-decoration: none;
            display: block;
            padding: 20px;

            &.current {
                color: #DDD;
                pointer-events: none;

                &:hover {
                    color: #DDD;
                }
            }

            &:hover {
                color: $triggerColor;
            }
        }

        &.social {
            border-top: 1px dashed #bbb;
            margin-top: 20px;
            text-align: right;
            transform: translate(0, 0);
            transition-duration: 0;
            opacity: 1;

            a {
                display: inline-block;
                margin-right: 12px;
                opacity: .5;
                transition-duration: .2s;

                img {
                    height: 16px;
                    width: auto;
                }

                &.email img {
                    height: 13px;
                }

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    opacity: 1;
                    transition-duration: .2s;
                }
            }
        }
    }
}

nav.masthead {
    padding: 24px;
    color: transparent;
    background-color: $backgroundColor;
    position: relative;
    z-index: 10;

    ul.nav-header {
        margin: 15px auto 0 auto;
        text-align: center;

        li {
            display: inline-block;
            padding: 6px;
            font-size: 1em;
            vertical-align: middle;
            height: 54px;
            width: 54px;
            border-radius: 5em;
            transition: box-shadow .2s ease-in-out;

            &.name {
                background-image: url("/images/icons/name.svg");
                font-size: 2em;
                margin: 6px 4%;
                width: 100px;
                height: 100px;

                a {
                    color: transparent;
                }
            }

            &:after {
                top: 48px;
            }

            &:hover:after {
                top: 56px;
            }

            &.name,
            &.ui,
            &.photos,
            &.design,
            &.code {
                background-position: center;
                background-size: 58%;
                background-repeat: no-repeat;
                position: relative;

                &:after {
                    content: attr(data-type);
                    padding: 4px;
                    color: #666;
                    border-radius: 4px;
                    position: absolute;
                    left: -50%;
                    right: -50%;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    font-size: 10px;
                    opacity: 0;
                }

                &:hover:after {
                    opacity: 1;
                    transition: all .2s ease-out;
                }

                &.name {

                    &:after {
                        top: 102px;
                    }

                    &:hover:after {
                        opacity: 1;
                        top: 108px;
                        transition: all .2s ease-out;
                    }
                }
            }

            &.design {
                background-image: url("/images/icons/design-filter.png");
            }

            &.photos {
                background-image: url("/images/icons/photos.png");
                background-size: 52%;
            }

            &.ui {
                background-image: url("/images/icons/ui-filter.png");
                background-size: 46%;
            }

            &.code {
                background-image: url("/images/icons/code-filter.png");
                background-size: 52%;
            }

            &.activated {
                transition: box-shadow .1s ease-in-out;
                box-shadow: 0 0 0 2px $blue, 1px 1px 2px rgba(0,0,0,0.2), -2px 2px 9px rgba(0,0,0,0.2);
            }

            a {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                cursor: pointer;
            }
        }
    }
}

.menu-fader {
    visibility: hidden;
    position: fixed;
    background-color: $blue;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .4s, z-index 0s linear .4s, visibility 0s linear .4s;
    z-index: -($zIndexMax);

    &.active {
        visibility: visible;
        opacity: .75;
        transition: opacity .4s ease-in-out .01s, visibility 0s;
        z-index: $zIndexMax - 1;
    }
}

.about {
    nav.masthead {
        ul li {
            box-shadow: 0px 1px 3px rgba(0,0,0,0.05), -2px 1px 11px rgba(0,0,0,0.05);

            &.name {
                animation-duration: 0s;
                -webkit-animation-duration: 0s;
            }

            &.photos,
            &.ui,
            &.code,
            &.design, {
                display: none;
            }
        }
    }
}

.container {
    padding: 14px;
    position: relative;
    background-color: $backgroundColor;
    transition: opacity .3s;
    
    $padding-sizing: 10px;

    &.about {

        h1 {
            margin: 40px auto;
        }
        p {
            max-width: 620px;
            margin: 0 auto 40px auto;
            line-height: 1.8;
            font-size: 15px;
            color: #555;
        }
    }

    &.fade {
        pointer-events: none;

        .portfolioLink {
            opacity: 0;
        }
    }

    .collection-container {

        .collection {
            text-align: center;
            margin-bottom: 12%;
            position: relative;
            z-index: zIndexMax - 10;

            &.hero {
                img {
                    box-shadow: none;
                    max-width: auto;
                    width: auto;
                    cursor: auto;
                    min-height: initial;
                }

                p {
                    position: relative;
                    width: 100%;
                    margin: 6px auto 80px auto;

                    span {
                        display: block;
                        max-width: 440px;
                        padding: 0 30px;
                        font-style: italic;
                        margin: 0 auto;
                        text-align: center;
                    }
                }
            }

/*            &.end {
                margin-bottom: 8%;
                padding-bottom: 8%;
                border-bottom: 1px dashed #B7B7B7;
            }*/

            img {
                width: auto;
                max-width: 400px;
                max-height: 400px;
                cursor: -webkit-zoom-in;
                border-radius: 2px;
                box-shadow: -2px 12px 36px rgba(0,0,0,0.2), -43px 9px 72px rgba(0,0,0,0.16);
            }

            p {
                text-align: center;
                position: relative;
                width: 100%;
                left: 0;
                color: #777;
                margin-top: 24px;
                font-size: .875em;

                span {
                    display: inline-block;
                    max-width: 480px;
                    padding: 0 30px;
                    font-weight: 300;
                    font-style: italic;
                }
            }
        }
    }
}

#footer {
    padding: 82px 0 120px 0;
    margin: 42px auto 0 auto;
    text-align: center;
    position: relative;

    p {
        color: white;
        font-weight: 300;
    }

    a {
        max-width: 90px;
        display: block;
        margin: 20px auto;
        opacity: 1;
        background-color: rgba(black, .15);
        padding: 10px 14px 2px 14px;
        border-radius: 4px 20px;
    }
}

.landingFooter {
    #footer p {
        color: #888;
    }
}

.masthead {
    position: relative;

    &.photography {
        background-color: transparent;
    }

    &.project-header {
        height: 0px;
        position: relative;
        z-index: 0;
        overflow: hidden;
        padding: 8px;

        &:before {
          content: '';
          height: 0px;
          width: 0px;
          position: absolute;
          left: 0px;
          right: 0px;
          bottom: 0px;
          border-color: rgba(255, 255, 255, 0) rgba(white .2);
          border-style: solid;
          border-width: 10px 100vw 0px 0px;
          margin-top: 0px;
          z-index: zIndexMax - 20;
        }

        &:after {
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            left: 0;
            right: 0;
            width: 0;
            height: 0;
            bottom: 0;
            border-color: rgba(255, 255, 255, 0) rgba(white .2);
            border-style: solid;
            border-width: 400px 0 0 0;
            border-left-width: 100vw;
            border-top-width: 10px;
            margin-top: 0px;
        }
    }

    .hero {
        position: fixed;
        left: 0;
        max-width: 100%;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
        pointer-events: none;
        background-size: cover;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-color: $backgroundColor;
    }
}

& .project-title {
    text-align: center;
    margin-top: 16%;
    margin-bottom: 20%;

    h1 {
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 6px;
        font-weight: bold;
        word-break: break-word;
        text-indent: 6px;
    }

    p {
        color: #888;
        font-weight: 300;
        max-width: 360px;
        margin: 0 auto;
    }
}

.portfolioLink {
    width: 100%;
    padding: 45px;
    text-decoration: none;
    max-width: 500px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    opacity: 1;
    z-index: 10;
    display: inline-block;
    transition: opacity .2s ease-in-out;

    &:nth-child(2n) {
        transition-delay: .4s;
    }
    &:nth-child(3n) {
        transition-delay: .1s;
    }
    &:nth-child(4n) {
        transition-delay: .25s;
    }
    &:nth-child(5n) {
        transition-delay: .35s;
    }

    // &:nth-child(2n) {
    //     transform: rotateZ(-1.2deg);
    //     &:active {
    //         transform: scale(.99) rotateZ(-1.2deg);
    //     }
    // }
    // &:nth-child(3n) {
    //     transform: rotateZ(.8deg);
    //     &:active {
    //         transform: scale(.99) rotateZ(.8deg);
    //     }
    // }
    // &:nth-child(4n) {
    //     transform: rotateZ(-1.5deg);
    //     &:active {
    //     topransform: scale(.99) rotateZ(-1.5deg);
    //     }
    // }
    // &:nth-child(5n) {
    //     transform: rotateZ(.95deg);
    //     &:active {
    //         transform: scale(.99) rotateZ(.95deg);
    //     }
    // }

    .item-details {
        z-index: 0;
        margin: 15px;
        text-align: center;
        color: #555;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.875em;
        transform: scale(.98);
        transition: all .25s ease-in-out;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-top: 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .item-content {
        position: relative;
        background-color: $backgroundColor;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: -5px 3px 26px -7px rgba(0,0,0,0.5), -27px 10px 59px rgba(0,0,0,0.2);
        z-index: 1;
        transition: all .2s ease-in-out;

        img {
            height: 100%;
            width: 100%;
            vertical-align: top;
            transition: all .1s ease-in-out;
        }
    }

    &:hover,
    &:focus {
        .item-details {
            opacity: 1;
            top: -12px;
            transform: scale(1);
            transition: all .2s ease-in-out;
        }

        .item-content {
            img {
                transform: scale(1.2);
                transition: opacity .2s ease-in-out, transform 8s ease-out;
            }
        }
    }

    &:active {
        transform: scale(.99);
    }
}

.hideByOpacity {
    transition: .2s ease-in-out;
    opacity: 0;
}

body.photography-wrapper {
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    height: 100vh;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
    &.js {
        .photo-nav,
        .photo-collection,
        .album-collection {
            opacity: 0;
        }
    }
    
    .bgImg {
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .site-background {
        // filter: blur(20px) brightness(.5);
        position: fixed;
        pointer-events: none;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: #353535;
        background-size: cover;
        height: 100%;
        height: 100vh;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility:    hidden;
        -ms-backface-visibility:     hidden;
    }
    
    .ui-loader {
        display: none;
    }
    
    &.fullscreen-mode {
        background-color: #353535;
        
        nav.photo-nav {
            transition: all .2s ease-in-out;
            top: -($nav_height);
            box-shadow: none;
        }
        
        .photo-collection.single-view {
            .photo-view-wrapper {
                transition: padding .2s ease-in-out;
                padding: 20px;
                
                .photo-view {
                    max-width: 1400px;
                }
                
                .slideshow-close {
                    transition: top .2s ease-in-out;
                    top: 30px;
                }
                
                .slide-action {
                    &.fullscreen {
                        transition: none;
                        border: 1px solid rgba(255,255,255,.4);
                    }
                }
            }
        }
        
        .album-collection {
            left: -($album_menu_width) !important;
        }
    }
        
    nav.photo-nav {
        transition: all .2s ease-in-out, background-image 0s ease-in-out;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 70px;
        padding: 25px 20px 10px 40px;
        // background-color: alpha($photography_color, .3);
        // box-shadow: 0 2px 1px rgba(0,0,0,.1);
        z-index: $zIndexMax;
        background-size: cover; 
        background-position: top center;
        background-color: alpha(black, .12);
        background-image: none !important;
        
        &.noBg {
            transition: all .2s ease-in-out;
            background-color: transparent;
        }
            
        .current-album-wrapper,
        .logo {
            display: inline-block;
            
            &:hover + .logo {
                display: none;
            }
        }
        
        .logo {
            color: white;
            
            .album-trigger {
                transition: all .1s ease-in-out;
                cursor: pointer;
                color: white;
                opacity: .5;
                
                &:hover {
                    transition: opacity .2s ease-in-out;
                    opacity: 1;
                }
                
                &.triggered {
                    opacity: 1;
                    color: $blue;
                }
            }
            
            i {
                margin-right: 20px;
                line-height: 24px;
                vertical-align: top;
                color: $blue;
            }
            
            img {
                padding-right: 10px;
            }
            
            > span {
                vertical-align: super;
                text-transform: uppercase;
                letter-spacing: 1.1px;
                /* font-weight: 100; */
                font-size: 12px;  
                
                &:after {
                    content: "|";
                    opacity: .5;
                    margin: 0 10px;
                }          
            }
        }
        
        .current-album-wrapper {
            transition: width .2s ease-in-out;
            line-height: 24px;
            font-weight: 200;
            display: inline-block;
            position: relative;
            padding-right: 30px;
            cursor: pointer;
            color: #d4d4d4;
            vertical-align: top;
            font-weight: 300;
            font-size: 20px;
            
            // &:before,
            // &:after {
            //     transition: all .2s ease-in-out;
            //     content: "";
            //     position: absolute;
            //     height: 8px;
            //     right: -14px + 30px;
            //     top: 8px;
            //     width: 2px;
            //     transform: rotate(-45deg);
            //     background-color: $blue;
            //     border-radius: 6px;
            // }
            
            // &:after {
            //     transform: rotate(45deg);
            //     right: -19px +30px;
            // }
            
            // &.triggered {
                
            //     &:before,
            //     &:after {
            //         transition: all .2s ease-in-out;
            //         height: 14px;
            //     }
                
            //     &:after {
            //         right: 16px;
            //     }
            // }
        }
    }
    
    .album-collection {
        transition: .2s left ease-in-out;
        position: fixed;
        width: $album_menu_width;
        top: 90px;
        left: -($album_menu_width);
        right: 0;
        bottom: 20px;
        background-color: alpha(black, .12);
        box-shadow: 0 2px 1px rgba(0,0,0,.18);
        z-index: 9998;
        overflow: scroll;
        border-radius: 10px;
        border: 1px solid alpha(white,.05);
        -webkit-overflow-scrolling: touch;
        // background-position: center;
        // background-size: cover;
        // background-repeat: no-repeat;
            
        &::-webkit-scrollbar {
            display: none;
        }
        
        &.open {
            transition: .2s left ease-in-out;
            left: 20px;
        }
        
        ul {
            padding: $padding-size*2;
            
            li {
                margin: $padding-size*2 0;
                height: $padding-size*4;
                line-height: $padding-size*4;
                border-radius: 6px;
                position: relative;
                
                &:first-child {
                    margin-top: 0;
                }
                
                &:after {
                    position: absolute;
                    content: "";
                    height: 7px;
                    width: 7px;
                    background-color: $blue;
                    border-radius: 14px;
                    right: 18px;
                    top: 18px;
                    opacity: 0;
                    transition: opacity .2s ease-in-out;
                }
                
                &:hover {
                    // background-color: #f2f2f2;
                    background-color: alpha(black, .15);
                    font-weight: bold;
                }
                
                &.selected {
                    font-weight: bold;
                    
                    &:hover {
                        font-weight: bold;
                    }
                    
                    &:after {
                        opacity: 1;
                        transition: opacity .2s ease-in-out;
                    }
                }
                
                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    padding: 0 20px;
                    // color: $black;
                    color: alpha(white, .8);
                    position: relative;
                    text-indent: 30px;
                    
                    span {
                        position: absolute;
                        left: 8px;
                        top: 7px;
                        height: 26px;
                        width: 26px;
                        display: inline-block;
                        // background-color: #f2f2f2;
                        background-color: alpha(black, .3);
                        border-radius: 20px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        z-index: 1;
                        pointer-events: none;
                        
                        &:nth-child(2) {
                            top: 3px;
                            left: 3px;
                            z-index: 0;
                        }
                        
                        &:nth-child(3) {
                            top: 12px;
                            left: 12px;
                            z-indeX: 3;
                        }
                    }
                }
            }

        }
    }
    
    .photo-collection {
        transition: padding-left .2s ease-in-out;
        width:100%;
        padding: 0px 20px 20px 10px;
        opacity: 1;
        text-align: center;
        position: fixed;
        top: $nav_height;
        bottom: 0;
        left:0;
        right:0;
        overflow: scroll;
        
        .preloader {
            position: absolute;
            left:-9999px;
            top: -9999px;
            height: 1px;
            width: 1px;
            overflow: hidden;
        }
        
        .photo-view-wrapper {
            transition: opacity .2s ease-in-out, padding .2s ease-in-out;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 9997;
            opacity: 0;
            width: 100%;
            height: 100%;
            padding: ($nav_height+20px) 20px 40px 20px;
            pointer-events: none;
            
            .photo-view {
                transition: transform .2s ease-in-out .2s;
                width: 100%;
                height: 100%;
                position: relative;
                transform: scale(.9);
                // max-width: 1024px;
                max-width: 800px;
                margin: 0 auto;
                // max-width: 100%;
                // padding: 0px;
                // max-height: 100%;
                // background-size: contain;
                // text-align: center;
                // position: relative;
                // vertical-align: middle;
                        
                img {
                    transition: opacity .2s ease-in-out;
                    height: auto;
                    max-width: 100%;
                    min-width: initial;
                    width: auto;
                    // visisbility: visible;
                    max-height: 100%;
                    box-shadow: 0 2px 4px rgba(0,0,0,.18);
                    border-radius: 3px;
                    position: absolute;
                    left: 50%;
                    right: 0;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    z-index: 1;
                    opacity: 0;
                    
                    &.slideshow-preload {
                        z-index: 0
                    }
                }
            }
            
            .slideshow-controls,
            .slideshow-close,
            .slideshow-album-name,
            .slideshow-loop {
                position: absolute;
                bottom: 30px;
                right: 30px;
                z-index: $zIndexMax;
                
                .slide-action {
                    transition: opacity .35s ease-in-out, background-color .35s ease-in-out;
                    padding: $padding-size;
                    border-radius: 5px;
                    background-color: rgba(0,0,0,.25);
                    line-height: 14px;
                    text-transform: uppercase;
                    color: white;
                    display: inline-block;
                    font-size: 12px;
                    font-weight: bold;
                    // box-shadow: 0 2px 4px rgba(0,0,0,.18);
                    border: 1px solid rgba(255,255,255,0);
                    letter-spacing: 1px;
                    opacity: .8;
                    margin-left: 10px;
                    cursor: pointer;
                    min-width: 40px;
                    text-align: center
                    
                    i {
                        pointer-events: none;
                    }
                    
                    &.prev {
                        margin-left: 40px;
                    }
                    
                    &.fullscreen {
                        i {
                            margin-left: 10px;
                        }
                    }
                    
                    &.fb-like-container {
                        border: 1px solid transparent;
                        position: relative;
                        
                        &:before {
                            font-family: "FontAwesome";
                            content: "\f09a";
                            margin-right: 10px;
                        } 
                        
                        &:hover {
                            background-color: rgba(0,0,0,.1);
                            color: rgba(255,255,255,.1);
                            border: 1px solid rgba(255,255,255,.1);
                            
                            .fb-like {
                                transition: all .2s ease-in-out;
                                bottom: 34px;
                                opacity: 1;
                                pointer-events: initial;
                            }
                        }
                        
                        .fb-like {
                            transition: all .2s ease-in-out;
                            position: absolute;
                            padding: 10px;
                            bottom: 30px;
                            left: -3px;
                            opacity: 0;
                            pointer-events: none;
                        }
                    }
                    
                    &:hover {
                        transition: none;
                        opacity: 1;
                        background-color: rgba(0,0,0,.6);
                        border: 1px solid rgba(255,255,255,.4);

                    }
                    
                    &:active {
                        transform: scale(.95);
                    }
                }
            }
            
            .slideshow-close {
                transition: top .2s ease-in-out;
                top: 70px;
                bottom: initial;
                z-index: $zIndexMax + 1;
            }
            
            .slideshow-album-name,
            .slideshow-loop {
                display: none;
                top: 10px;
                left: 50%;
                right: initial;
                transform: translate(-50%, 0);
                
                .slide-action {
                    opacity: 1;
                    background-color: rgba(0,0,0,.6);
                    border: 1px solid rgba(255,255,255,.4);
                }
            }
            
            .slideshow-loop {
                .slide-action {
                    &:before {
                        content: "\f0e2";
                        font-family: "FontAwesome";
                    }
                }
            }
        }
        
        &.single-view {
            transition: padding-left .2s ease-in-out;
            
            .photo-view-wrapper {
                transition: opacity .2s ease-in-out .2s, padding .2s ease-in-out;
                opacity: 1;
                z-index: 9997;
                pointer-events: initial;
                
                .photo-view {
                    transition: transform .4s ease-in-out;
                    transform: scale(1);
                    
                   img {
                        transition: opacity .2s ease-in-out;
                        opacity: 1;
                    }
                }
            }
            
            .photo-wrapper { 
                    transition: all .2s ease-in-out;
                    opacity: 0;
                    transform: scale(.9);
                    pointer-events:none;
                
                &.selected {
                    // transition: opacity .1s ease-in-out, padding-left .2s ease-in-out;
                    // opacity: 1;
                    // position: fixed;
                    // left: 0;
                    // right: 0;
                    // top: $nav_height;
                    // bottom: 0;
                    // max-width: 1200px;
                    // max-height: 100%;
                    // width: 100%;
                    // padding: 20px;
                    // margin: 0 auto;
                } 
                
                &:not(.selected) {
                    // pointer-events: none;
                    // background-image: none !important;
                }            
            }
        }
        
        &.open {
            transition: padding-left .2s ease-in-out, opacity .2s ease-in-out;
            padding-left: $album_menu_width + 40px;
            opacity: 1;
            
            .photo-wrapper {
                width: 33.333%;
            }
            
            .photo-view-wrapper {
                transition: opacity .2s ease-in-out 0s, padding .2s ease-in-out;
                padding-left: $album_menu_width + 40;
            }
        }
        
        .photo-wrapper {
            transition: all .2s ease-in-out;
            opacity: 1;
            display: inline-flex;
            width: 33.333%;
            max-width: 360px
            background-size: cover;
            background-position: center;
            vertical-align: top;
            padding: 30px;
            // max-height: 260px;
            overflow: hidden;
            transform: scale(1);
            z-index: 9997;
            
            &:hover {
                .photo-item {
                    transition: box-shadow .1s ease-in-out;
                    box-shadow: 0 2px 6px rgba(0,0,0,.5);
                }
            }
            
            &:active {
                .photo-item {
                    transition: box-shadow 0s ease-in-out;
                    box-shadow: 0 1px 4px rgba(0,0,0,.1);
                }
            }
            
            &.object-fit-fallback {
                
                .photo-item {
                    a {
                        background-size: cover;
                        
                        img {
                            opacity: 0;
                        }
                    }
                }
                
            }
            
            .photo-item {
                transition: box-shadow .1s ease-in-out;
                width: 100%;
                margin: 0px;
                overflow: hidden;
                border-radius: 3px;
                box-shadow: 0 2px 4px rgba(0,0,0,.18);
                
                a {                        
                    display: block;
                    position: relative;
                    // padding: 20px;
                    // height: 200px;
                    padding-bottom: 86.66%;
                    width: 100%;  
                    // background-repeat: no-repeat;
                    // background-size: cover;
                    // background-position: center;
                    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
                    
                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        text-align: center;
                        background-color: #565656;
                        color: white;
                    }
                }
            }            
        }
    }
        
    @media screen and (max-width: 1200px) {
        .photo-collection {
            // padding-top: 70px;
            
            // &.open {
            //     .photo-wrapper {
            //         width: 33.33%;
            //     }
            // }
            
            .photo-wrapper {
                // width: 20%;
                // padding: 20px;
                
                
                .photo-item {
                    a {
                        // height: 120px;
                    }
                }
            }
        }
    }
    
    @media screen and (max-width: 968px) {
        .photo-collection {
            top: 80px;
            
            &.open {
                .photo-wrapper {
                    width: 33.333%;
                    padding: 10px;
                }
            }
            
            .photo-wrapper {
                width: 33.333%;
            }
        }
    }
    
    @media screen and (max-width: 728px) {
        .photo-collection {
            &.open {
                .photo-wrapper {
                    width: 50%;
                }
            }
            
            .photo-wrapper {
                width: 50%;
            }
        }
    }
    
    @media screen and (max-width: 550px) {
        nav.photo-nav  {
            padding-left: 30px;
            
            .logo {       
                
                img {
                    padding-right: 0px;
                }         
                
                > span {                    
                    &:after {
                        margin: 0 12px;
                    }
                    
                    span {
                        display: none;
                    }
                }
            }  
            .current-album-wrapper {
                // font-size: 10px;
            }
        }
        
        .photo-collection {
            transition: opacity .1s ease-out;
            padding: 10px 10px 20px 10px;
            top: 70px;  
            
            .photo-view-wrapper {
                
                .slideshow-close {
                    top: 90px;
                }
            }
            
            &.open {
                transition: opacity .1s ease-out;
                opacity: 0 !important;
                padding-left: 20px;
                
                .photo-view-wrapper {
                    padding-left: 20px;
                }
                
                .photo-wrapper {
                    width: 50%;
                    padding: 30px;
                }
            }
            
            .photo-wrapper {
                width: 50%;
            }
        }
        
        .album-collection {
            transition: opacity .1s ease-in-out, left 0s ease-in-out;
            // top: 70px;
            
            &.open {
                transition: opacity .1s ease-in-out, left 0s ease-in-out;
                right:20px
                width: initial;
            }
        }
    }
    
    // // iPad in landscape mode
    // @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
    //     .photo-collection {
    //         .photo-wrapper {
    //         }
            
    //         &.open {
    //             .photo-wrapper {
    //                 width: 33.333% !important;
    //             }
    //         }
    //     }
    // }
    
    // // iPad in portrait mode
    // @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
    //     .photo-collection {
    //         .photo-wrapper {
    //             width: 33.333%
    //         }
            
    //         &.open {
    //             .photo-wrapper {
    //                 width: 50% !important;
    //                 padding: 14px;
    //             }
    //         }
    //     }
    // }
    
    // // iPhone Landscape
    // @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) { 
    //     .photo-collection {            
    //         .photo-wrapper {
    //             width: 33.333%
    //             padding: 20px;
    //         }
            
    //         &.open {
    //             .photo-wrapper {
    //                 width: 50% !important;
    //                 padding: 14px;
    //             }
    //         }
    //     }
        
    //     .album-collection {
    //         top: 70px;
    //     }
    // }
    // // iPhone portrait
    // @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {             
    //     .photo-collection {
    //         .photo-wrapper {
    //             width: 50%;
    //             padding: 12px;
    //         }
            
    //         &.open {
    //             .photo-wrapper {
    //                 width: 50%;
    //                 padding: 14px;
    //             }
    //         }
    //     }
    // }
}

.scrollToTop {
    text-align: center;
    margin: 0 auto;
    width: 200px;
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    box-shadow: 0 0 2px #CCC;
    text-decoration: none;
    color: $triggerColor;
    text-transform: uppercase;
    font-weight: 600;
    display: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: zIndexMax - 3;
}


@media screen and (min-width: 480px) {

    nav.masthead {
        ul {
            li {

                &.name {
                    margin: 6px 7%;
                }

                &.ui,
                &.photos,
                &.design,
                &.code {
                    width: 65px;
                    height: 65px;
                }
            }
        }
    }

    .portfolioLink {
        width: 50%;
    }

    .nav-item {
        &.menu {
            top: $triggerSpacing;
            right: $triggerSpacing;
        }

        &.back {
            top: $triggerSpacing;
            left: $triggerSpacing;
        }
    }

    .project-title {
        margin-top: 8%;
        margin-bottom: 6%;
    }


}

@media screen and (min-width: 769px) {

    nav.masthead ul.nav-header {
        li {
            background-color: white;
            box-shadow: -3px 3px 10px rgba(0,0,0,0.1), -10px 5px 29px rgba(0,0,0,0.1);
            margin: 6px 12px;
            -webkit-animation: hover 9s infinite;
            animation: hover 40s ease-in-out infinite;

            &:nth-child(2n) { animation: hover 30s ease-in-out infinite reverse; }
            &:nth-child(3n) { animation: hover 20s ease-in-out infinite alternate; }

            &:after {
                top: 72px;
            }

            &:hover:after {
                top: 76px;
            }

        }
    }

    .container.about {
        p {
            line-height: 2.2;
            font-size: 16px;
        }
    }

    .portfolioLink {
        width: 33.333%;

        .item-details {
            position: absolute;
            left: 0;
            right: 0;
            top: 18px;
            padding: 15px 30px 0 30px
            opacity: 0;
        }
    }
    .container {
        .collection-container {
            .collection {
                width: 50%;
                display: inline-block;
                vertical-align: top;

                &.hero {
                    display: block;
                    width: 100%;
                }

                p {
                    text-align: center;
/*                    text-align: right;
                    position: absolute;
                    width: 33%;
                    margin-top: 0;
                    top: 20%;*/

                    span {
/*                        padding: 0 30px;
*/                    }
                }

/*                &:nth-child(odd) p {
                    text-align: left;
                    right: 0;
                    left: initial;
                }*/
            }
        }

        &.photography {
            .collection-container {
                .responsive-aspect-ratio-wrapper {
                    width: 33.333%
                }
            }
        }
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
    .portfolioLink {
        .item-details {
            opacity: 1;
            top: initial;
            position: relative;
            margin: 15px 0 0 0;
            padding: 15px 0 0 0;
        }

        &:hover,
        &:focus {
            .item-details {
                opacity: 1;
                top: initial;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .portfolioLink {
        width: 25%;
    }
}

@media screen and (min-width: 1400px) {
    .portfolioLink {
        width: 20%;
        padding: 65px;
    }
}

.no-js {
    .container .portfolioLink {
        display: initial;
    }
}